

<div class="col-lg-6">
  <div class="ibox float-e-margins">
    <% if @town.errors.any? %>
        <div class="alert alert-danger">
          <h5><%= t('common.errors')  %></h5>
          <ul>
            <%  @town.errors.full_messages.each do |messanges| %>
                <li> <%= messanges %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="ibox-title">
      <h2><%= @town.new_record? ?   "Создать новый город" : "Изменить регион: #{@town.name}" %></h2>
    </div>
    <div class="ibox-content">
      <%= form_for @town do |f| %>

          <div class="form-group">
            <%= f.label 'Регион'%>
            <%= f.collection_select :region_id, Region.all, :id, :name , {prompt: "Выберите регион"}, {class: "form-control"} %>
          </div>

          <div class="form-group">

            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit @town.new_record? ? 'Создать' : 'Сохранить' , class: 'btn btn-primary btn-outline' %>
            <%= link_to  'Назад', :back, class: 'btn btn-default' %>
            <% if @town.id != nil %>
                <%= link_to 'Удалить' , town_path(@town),  method: :delete, class: 'btn btn-danger pull-right', data: {confirm: 'Вы уверены?'} %>
            <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>