<div class="row">
  <div class="col-lg-10">
    <div class="ibox float-e-margins">
      <% if @hotel.errors.any? %>
          <div class="alert alert-danger">
            <h5><%= t('common.errors')  %></h5>
            <ul>
              <%  @hotel.errors.full_messages.each do |messanges| %>
                  <li> <%= messanges %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="ibox-title">
       <h2><%= @hotel.new_record? ?   "Создать новый отель" : "Изменить отель: #{@hotel.name}" %></h2>
      </div>
      <div class="ibox-content">
        <%= form_for @hotel do |f| %>
            <div class="tabs-container">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1"> Общая информация</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Фото</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3">Услуги</a></li>
                <li class=""><a data-toggle="tab" href="#tab-4">Номера и цены</a></li>
              </ul>
                  <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                      <div class="panel-body">
                            <div class="form-group">
                              <%= f.label 'Регион' %>
                              <%= f.collection_select :region_id, Region.order(:name), :id, :name, {prompt: "Выберете регион"}, class: "form-control" , include_blank: true %>
                            </div>
                            <div class="form-group">
                              <%= f.label 'Город' %>
                              <%= f.grouped_collection_select :town_id, Region.order(:name), :towns, :name, :id, :name,{prompt: "Выберете город"} , class: "form-control" ,include_blank: true %>
                            </div>
                            <div class="form-group">
                              <%= f.label :name %>
                              <%= f.text_field :name, class: "form-control" %>
                            </div>
                            <div class="form-group">
                              <%= f.label :transcription %>
                              <%= f.trix_editor :transcription, as: :trix_editor , class: "form-control editor" %>
                            </div>
                    </div>
                  </div>
                  <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                      <div class="lightBoxGallery">
                        <% @hotel.images.each do |g|%>
                            <a href="<%= image_path("#{g.url}") %>" title="<%= @hotel.name  %>" data-gallery=""><img src="<%= image_path("#{g.url(:thumb)}") %>"></a>
                        <% end %>
                      <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                      <div id="blueimp-gallery" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                      </div>
                    </div>

                          <%= f.file_field :images, multiple: true, id: "basicUploadFile" ,class: 'btn btn-default' %>



                    </div>
                  </div>
                  <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                      <div class="col-lg-8">
                        <%= f.collection_check_boxes(:service_ids, Service.all, :id, :name) do |b| %>
                            <div class="row">
                              <div class="checkbox checkbox-primary">
                                <%= b.check_box(class: "check_box") %>
                                <%= b.label(class: "check_box") do %>
                                    <%= b.object.name %>
                                <% end %>
                              </div>
                            </div>
                        <% end %>
                      </div>
                    </div>

                </div>
                <div id="tab-4" class="tab-pane">
               <h3>Numbers</h3>
                  <div id="numbers">
                    <%= f.fields_for :numbers do |number|%>

                        <% code_to_clone = number.object %>
                        <%= link_to_add_association('Clone', f, :numbers, class: 'btn btn-warning btn-xs ', wrap_object: Proc.new {
                            |new_code| new_code.name = code_to_clone.name;
                                       new_code.date_start = code_to_clone.date_finish;
                        new_code }) %>
                        <%= render 'number_fields', f: number, d: :numbers %>


                    <% end %>
                    <div class="links">
                      <%= link_to_add_association 'add number', f, :numbers, class: 'btn btn-success btn-xs'%>



                    </div>
                  </div>
                </div>
              </div>
            </div>
                  <%= f.submit @hotel.new_record? ?  'Создать' : 'Сохранить' , class: 'btn btn-primary btn-outline ' %>
                  <%= link_to  'Назад', :back, class: 'btn btn-default btn-outline' %>
                  <% if @hotel.id != nil %>
                      <%= link_to 'Удалить' , hotel_path(@hotel),  method: :delete, class: 'btn btn-danger  pull-right', data: {confirm: 'Вы уверены?'} %>
                  <% end %>
              <% end %>
          </div>
    </div>
  </div>
</div>


