<div class="panel-body">
  <div class="nested-fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :date_start %>
      <%= f.date_select :date_start %>
    </div>
    <div class="field">
      <%= f.label :date_finish %>
      <%= f.date_select :date_finish %>
    </div>

    <div class="field">
      <%= f.label :one_person %>
      <%= f.text_field :one_person %>
    </div>

    <div class="field">
      <%= f.label :two_person %>
      <%= f.text_field :two_person %>
    </div>

    <div class="field">
      <%= f.label :additional_space %>
      <%= f.text_field :additional_space %>
    </div>
    <%= link_to_remove_association "remove number", f %>

  </div>
</div>