
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h2>Все отели</h2>
        </div>
        <div class="ibox-content">

          <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>#</th>
              <th>Регион</th>
              <th>Город</th>
              <th>Название</th>
              <th><%= link_to 'Создать новый отель', new_hotel_path, class: "btn btn-success btn-sm pull-right" %></th>
            </tr>
            </thead>
            <tbody>
            <% @hotels.each do |hotel| %>
                <tr>
                  <th scope="row"><%= hotel.id %></th>
                  <th><%= Region.find(hotel.region_id).name %></th>
                  <th><%= Town.find(hotel.town_id).name %> </th>
                  <th><%= hotel.name %> </th>
                  <th>
                    <%= link_to 'Изменить', edit_hotel_path(hotel), class: "btn btn-info btn-sm pull-right" %>

                  </th>
                </tr>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <th>#</th>
              <th>Регион</th>
              <th>Город</th>
              <th>Название</th>
              <th></th>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>
  </div>

<script>
    $(function() {

        $('.dataTables-example').DataTable({
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });

      /* Init DataTables */
        var oTable = $('#editable').dataTable();

      /* Apply the jEditable handlers to the table */
        oTable.$('td').editable( '../example_ajax.php', {
            "callback": function( sValue, y ) {
                var aPos = oTable.fnGetPosition( this );
                oTable.fnUpdate( sValue, aPos[0], aPos[1] );
            },
            "submitdata": function ( value, settings ) {
                return {
                    "row_id": this.parentNode.getAttribute('id'),
                    "column": oTable.fnGetPosition( this )[2]
                };
            },

            "width": "90%",
            "height": "100%"
        } );

    });
</script>

