<h1><%= @hotel.name %></h1>
<h2><%= @hotel.region %></h2>
<h2><%= @hotel.town %></h2>
<h3><%= @hotel.transcription %></h3>
<%= link_to 'Удалить', hotel_path(@hotel), method: :delete, data: {confirm: 'Вы уверены?'} %>
